@import '../common.less';

.attribute-header {
    color: @textColor;
}
.attribute-container {
    margin: 20px;
}

.attribute-viewer {
    width: 100%;
}

.attribute-input-container {
    width: 100%;
    display: flex;
    flex: 1;
    padding: 5px;
}

.attribute-input {
    min-width: 50px;
    display: flex;
    flex: 1;
    .common-input;
}

.add-attribute-btn {
    width: 25;
}