events {}

http {
    server {
        listen 80;

        location /repos {
            proxy_pass https://api.github.com/;
        }

        location /sona {
            proxy_pass ${SONA_URL};
        }

        location / {
            root /site;
            index index.html;
        }
    }
}