.create-header {
    cursor: default;
}

.create-item-column-detail {
    .create-item-column-base;
    cursor: default;
}

.create-item-column {
    .create-item-column-base;
}

.create-item-column-base {
    display: inline-block;
    width: 40%;
}

.create-item-body {
    display: flex;
    flex-direction: column;

    .create-item-row {
        flex: 1 1 auto;
        padding: 12px;

        &:last-of-type {
            margin-bottom: 8px;
        }
    }

    .attribute-button {
        flex: 1 1 auto;
        margin: 10px;
        background: transparent;
        border: 1px solid black;
        box-shadow: 0 0 2px black;
        outline: none;
    
        &:hover {
            background: lightblue;
        }
    }

    .create-attribute-viewer {
        flex: 1 1 auto;
        max-width: unset;

        .attribute-input-container {
            width: unset;

            .attribute-input {
                color: black;
            }
        }
    }
}

.create-item-footer {
    display: flex;
    justify-content: space-between;

    button {
        flex: 0 0 auto;
    }
}

.create-attribute-viewer .attribute-viewer {
    max-width: 300px;
    padding: 5px;
    .attribute-header {
        color: black;
    }

    .attribute-input-container .attribute-input {
        background-color: white;
    }
}