.create-item-column {
    display: inline-block;
    width: 40%;
}

.create-item-row {
    margin: 10px;
    padding: 20px;
}

.attribute-button {
    width: 100%;
    margin: 10px;
    background: transparent;
    border: 1px solid black;
    box-shadow: 0 0 2px black;
    outline: none;

    &:hover {
        background: lightblue;
    }
}