.viewer {
    border-width: 1px;
    border-radius: 3px;
    border-style: solid;
    background-color: #DAF1FD;
    display: inline-block;
    width: 100%;
    height: 100vh;
    padding: 5px;
}

.viewer-header {
    margin: 10px;
    display: inline-block;
    width: 95%;
}

.viewer-notes-button {
    float: left;
}

.viewer-git-button {
    float: right;
}

.search-area {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #BCC9CD;
}

.search-area > span > input {
    width: 20%;
}

.incident-list {
    margin-left: 0px;
    padding-left: 0;
    list-style-type: none;
    width: 100%;
    display: table;
}

.incident-list-item-base {
    display:block; 
    text-decoration:none; 
    color:#000000; 
    line-height:30px;
    border-bottom-style:solid; 
    border-bottom-width:1px; 
    border-bottom-color:#CCCCCC; 
    padding-left:10px;
}

.incident-list-item-header {
    .incident-list-item-base;
    background-color:#D5D5D5;
}

.incident-list-item {
    .incident-list-item-base;
    background-color:#FFFFFF;
}

.incident-list-item:hover {
    color:#FFFFFF; 
    background: rgba(147,206,222,1);
    background: -moz-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(147,206,222,1)), color-stop(41%, rgba(117,189,209,1)), color-stop(100%, rgba(73,165,191,1)));
    background: -webkit-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
    background: -o-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
    background: -ms-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
    background: linear-gradient(to right, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#49a5bf', GradientType=1 );
}

.incident-list-column {
    width: 22%;
    padding: 5px;
    display: inline-flex;
    text-align: center;
}

.incident-list-column-header {
    .incident-list-column;
}

.selected-incident-list-item {
    .incident-list-item-base;
    color:#FFFFFF; 
    background: rgba(149,182,222,1);
    background: -moz-linear-gradient(left, rgba(149,182,222,1) 0%, rgba(116,171,207,1) 41%, rgba(73,135,189,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(149,182,222,1)), color-stop(41%, rgba(116,171,207,1)), color-stop(100%, rgba(73,135,189,1)));
    background: -webkit-linear-gradient(left, rgba(149,182,222,1) 0%, rgba(116,171,207,1) 41%, rgba(73,135,189,1) 100%);
    background: -o-linear-gradient(left, rgba(149,182,222,1) 0%, rgba(116,171,207,1) 41%, rgba(73,135,189,1) 100%);
    background: -ms-linear-gradient(left, rgba(149,182,222,1) 0%, rgba(116,171,207,1) 41%, rgba(73,135,189,1) 100%);
    background: linear-gradient(to right, rgba(149,182,222,1) 0%, rgba(116,171,207,1) 41%, rgba(73,135,189,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#95b6de', endColorstr='#4987bd', GradientType=1 );
}

.create-item-column {
    display: inline-block;
    width: 40%;
}

.create-item-row {
    margin: 10px;
    padding: 20px;
}