@appbackground: #28313f;
@appbackgroundLight: #cfcfcf;
@textColor: #6bc9ff;
@removeColor: linear-gradient(to bottom, #ff3019 0%,#cf0404 100%);
@valueColor: linear-gradient(to bottom, #d0e4f7 0%,#73b1e7 24%,#0a77d5 50%,#539fe1 79%,#87bcea 100%);
@buttonTextColor: #0ba8fc;
@addColor: rgb(119, 247, 119);

.common-input {
    color: white;
    background-color: black;
    border: 1px solid rgb(46, 46, 46);
}

.common-input:focus, input:focus {
    outline-color: #6bc9ff;
}

.common-button {
    background-color: #485870;
    color: #0ba8fc;
    border: 1px solid #748092;
}

.common-button:disabled {
    background-color: #9b9b9b;
    color: #72cffd;
    border: 1px solid #dadada;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}