@import 'common.less';

html {
    height: 100%;
    background: @appbackground;
    font-family: 'Courier New', Courier, monospace;
}

body {
    height: 100%;
}

.content-area {
    width: 100%;
    height: 100%;
}

.content-float {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    max-width: 40%;
}

.content-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.gutter {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter:hover {
    background-color: #7EAEFF;
}

.gutter.gutter-vertical {
    background-image:  url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
    cursor: ns-resize;
}

.gutter.gutter-horizontal {
    background-image:  url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: ew-resize;
}

ux-dialog-container > div > div {
    background-color: white;
    padding: 24px;

    ai-dialog-body {
        margin-bottom: 8px;
    }
}