@import '../common.less';

.edit-button {
    margin-left: 10px;
    background-color: transparent;
    color: @buttonTextColor;
    border: 1px solid transparent;
}

.edit-button:hover {
    border: 1px solid @buttonTextColor;
}

.edit-button:focus {
    outline: 0;
}