<template>
    <require from="../../attribute/attribute-viewer"></require>
    <div class="create-incident-view auth-form">
        <h1>${header}</h1>
        <div class="entry">
            <label>Reporter</label>
            <input class="action" type="text" value.bind="incident.reporter">
        </div>
        <div class="entry">
            <label>Description</label>
            <input class="action" type="text" value.bind="incident.description">
        </div>
        <attribute-viewer incident.bind="incident"></attribute-viewer>
        <div class="entry">
            <button click.delegate="cancel()">Cancel</button>
            <button click.delegate="create()">Create</button>
        </div>
    </div>
</template>