<template>
    <require from="../../attribute/attribute-viewer"></require>
    <div class="auth-form">
        <h1>${header}</h1>
        <div class="entry">
            <label>Reporter</label>
            <input class="action" type="text" value.bind="incident.reporter">
        </div>
        <div class="entry">
            <label>Description</label>
            <input class="action" type="text" value.bind="incident.description">
        </div>
        <attribute-viewer incident.bind="incident"></attribute-viewer>
        <button click.delegate="controller.cancel()">Cancel</button>
        <button click.delegate="controller.ok(incident)">Create</button>
    </div>
</template>