@import '../common.less';

.attachment-container {
    margin: 20px;
}

.upload-attachment-continer {
    padding: 5px;
    border: solid;
    border-width: 3px;
}

.attachment-header {
    color: @textColor;
}